<section class="auth-section">
  <div class="container narrow-container">
    <div class="auth-card">
      <p class="eyebrow">Contact us</p>
      <h1>Let’s build better farm-to-market connections.</h1>
     
      <div class="contact-list">
        <div>
          <span>Email</span>
          <strong>codeblue.viti@gmail.com</strong>
        </div>
        <div>
          <span>Phone</span>
          <strong>+679 777 1645</strong>
        </div>
        <div>
          <span>Office</span>
          <strong>24 Dravuni Street, Waiyavi, Lautoka Fiji</strong>
        </div>
      </div>
    </div>
  </div>
</section>
