<% if (errors && errors.length) { %>
  <div class="form-errors" role="alert">
    <p>Please fix the following:</p>
    <ul>
      <% errors.forEach((error) => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  </div>
<% } %>
